@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E41A22;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a, button {
  font-family: "Open Sans", sans-serif;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

.custom-navbar {
  background-color: #E41A22;
  box-shadow: white 0px 0px 2px;
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #FFFFFF;
}
.custom-navbar .nav-link:hover {
  color: white;
}
.custom-navbar .order-link {
  background-color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.custom-navbar .order-link:hover {
  color: #FFFFFF;
  background-color: #555555;
}
.custom-navbar .navbar-toggler {
  border: none;
}
.custom-navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.custom-navbar .navbar-section {
  flex: 1;
}
.custom-navbar .navbar-section .navbar-nav {
  flex-direction: row;
}
.custom-navbar .navbar-brand {
  flex: 1;
  text-align: center;
}
.custom-navbar .logo {
  height: 100px;
  width: auto;
  display: flex;
  justify-self: unset;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #E41A22;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-buttons a {
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-buttons .order-button {
  background-color: black;
  color: white;
}

.hero-buttons .order-button:hover {
  background-color: #333;
}

.hero-buttons .explore-button {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.hero-image {
  max-width: 40%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50% inherit;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-text {
    max-width: 100%;
    order: 2;
  }
  .hero-image {
    max-width: 100%;
    order: 1;
    margin-bottom: 20px;
  }
}
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #F2F2F2;
  color: #333333;
}

.features-text {
  max-width: 60%;
}

.features-text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  border-left: 5px solid #E41A22;
  padding-left: 15px;
}

.features-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.feature {
  margin-bottom: 30px;
}

.features-image {
  max-width: 35%;
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: flex-start;
  }
  .features-text {
    max-width: 100%;
    order: 2;
  }
  .features-image {
    max-width: 100%;
    order: 1;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=styles.css.map */